/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #2e8555;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --ifm-link-color: #f0f6fc;
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}

.navbar__logo {
  border-radius: 50%;
  overflow: hidden;
}

.fadenine {
  color: red;
	animation-name: fadenineColorPalette;
	animation-duration: 15s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: linear;
	/* linear is enabled default, it’s not necessary to add it make it work but it can make your code more expressive */
}

@keyframes fadenineColorPalette {
	0% {
	   color: #red;
	}
	12.5% {
		color: #ff6000;
	}
	25% {
		color: #fffb00;
	}
	37.5% {
		color: #38ff00;
	}
	50% {
		color: #00ff87;
	}
	62.5% {
		color: #00f3ff;
	}
	75% {
		color: #007cff;
	}
	87.5% {
		color: #b0f;
	}
	100% {
		color: #ff00a7;
	}
}
